#root {
  --background: linear-gradient(to bottom, #2b2b3b, #101018);

  /* hsl color variables */
  --banner-height: 3rem;
  --red-banner: 355, 65%, 45%;
  --blue-banner: 220, 65%, 45%;
  --yellow-primary: 45, 100%, 60%;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  position: relative;
  background: var(--background);
  width: 100%;
  height: 100vh;
  min-height: 100lvh;
}

.top-banner,
.bottom-banner {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: var(--banner-height);
  transition: max-height 500ms ease;
  z-index: 10;
}

.top-banner.start,
.bottom-banner.start {
  max-height: 20%;
}

.top-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: hsl(var(--red-banner));
  border-radius: 0 0 100% 100% / 0 0 60px 60px;
  box-shadow:
    0 4px 0 hsl(var(--yellow-primary)),
    0 10px 0 hsl(var(--red-banner)),
    0 14px 4px rgba(0, 0, 0, 0.25);
}

.pokeball-icon {
  width: 2rem;
  aspect-ratio: 1;
  color: hsl(var(--yellow-primary));
  transition: width 500ms ease;
}

.start .pokeball-icon {
  width: 4rem;
}

.bottom-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  bottom: 0;
  left: 0;
  background: hsl(var(--blue-banner));
  border-radius: 100% 100% 0 0 / 60px 60px 0 0;
  box-shadow:
    0 -4px 0 hsl(var(--yellow-primary)),
    0 -10px 0 hsl(var(--blue-banner)),
    0 -14px 4px rgba(0, 0, 0, 0.25);
}

a {
  color: inherit;
  text-underline-offset: 2px;
}

main.gamepage {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  height: 100%;
  padding-top: var(--banner-height);
  padding-bottom: var(--banner-height);
}

main.startpage {
  width: 100%;
  height: 100%;
  padding-top: var(--banner-height);
  padding-bottom: var(--banner-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.gamepage.hidden,
.startpage.hidden {
  display: none;
}

.sitename {
  font-size: 2rem;
  font-weight: bold;
  color: hsl(var(--yellow-primary));
  paint-order: stroke fill;
  -webkit-text-stroke: 4px hsl(var(--red-banner));
}

.pokeball-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  aspect-ratio: 1;
  background: linear-gradient(
    hsl(var(--red-banner)) 46%,
    hsl(45, 100%, 10%) 46%,
    hsl(45, 100%, 10%) 54%,
    white 54%
  );
  border: 0.5rem solid hsl(45, 100%, 10%);
  border-radius: 100%;
  box-shadow:
    inset 0 3px 20px hsla(50, 100%, 75%, 0.2),
    inset 0 -10px 20px rgba(0, 0, 0, 0.5),
    0 10px 10px rgba(0, 0, 0, 0.25);
  transition: border 200ms ease;
  cursor: pointer;
}

@keyframes shake {
  20% {
    transform: none;
  }
  40% {
    transform: translateX(10px) rotate(20deg);
  }
  60% {
    transform: translateX(-10px) rotate(-20deg);
  }
  80% {
    transform: none;
  }
}

.pokeball-button:hover {
  animation: shake 1s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.pokeball-inner-button {
  width: 40%;
  aspect-ratio: 1;
  background: white;
  border: 0.5rem solid hsl(45, 100%, 10%);
  border-radius: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.pokeball-button:active {
  animation: none;
  transition: all 200ms ease-out;
  border: 0.5rem solid hsl(45, 100%, 60%);
  filter: brightness(80%);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 1fr 1fr;
  height: calc(100vh - (var(--banner-height) * 2));
  max-height: 800px;
  padding: 2rem;
  gap: 2.5rem;
}

.card {
  max-height: 100%;
  aspect-ratio: 2.5/3.5;
  cursor: pointer;
  border-radius: 15px;

  transform-style: preserve-3d;
  transition: all 500ms ease;
}

.card:hover {
  transform: scale(105%);
}

.card.flipped {
  transform: rotateY(180deg);
}

.tilt {
  position: relative;
  max-height: 100%;
  aspect-ratio: 2.5/3.5;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.card-back {
  transform: rotateY(180deg);
}

.card img {
  max-width: 100%;
  width: auto;
  height: 100%;
}

.right {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 2rem;
}

.scores {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-family: "Quantico";
  color: white;
}

.score-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.best-score {
  color: hsl(var(--yellow-primary));
}

.score {
  font-size: 2rem;
}
