@font-face {
  src: url("../assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
  font-family: "Inter";
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  src: url("../assets/fonts/Quantico-Bold.ttf");
  font-family: "Quantico";
  font-weight: 700;
  font-style: normal;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100lvh;
}
